body, h1, ul, li {
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
}
* {
    box-sizing:border-box;
}
.header { 
    position:fixed;
    z-index:1;
    width: 100%;
    padding-top:10px;
    padding-bottom: 13px;
    text-align: center;
    background-color: #FFF;
}
.header-image {
    width: 155px;
}
.header-menu {
    padding-top:10px;
    font-size: 16px;
}
.header-menu__list {
    display:flex;
    justify-content: center;
    list-style: none;
}
.header-menu__link {
    text-decoration:none;
    color:#4a4a4a;
    padding:0 10px;
}
.main-content {
    color:#FFFFFF;
    background-color:#3CDBC0;
    font-size: 30px;
    height:100vh;
    padding-top:117px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.main-title {
    text-align: center;
    text-transform:capitalize;
    max-width: 450px;
}
@media all and (min-width:768px) {
    .header {
        display:flex;
        justify-content:space-between;
        align-items: center;
        padding:20px 30px;
    }
    .main-content {
        font-size: 40px;
    }
}